---
# tasks file for role-nrpe
#

#
# Install packages for each OS family
#

- name: Debian OS family
  when: ansible_os_family == 'Debian'
  block:
    - name: Ensure packages are installed for Debian OS family
      ansible.builtin.apt:
        name:
          - nagios-nrpe-server
          - monitoring-plugins-contrib
          - monitoring-plugins-standard

- name: RedHat 9 block
  when: ansible_os_family == 'RedHat' and (ansible_distribution_major_version | int) >= 9
  block:
    - name: Ensure EPEL packages can be installed for RedHat 9
      ansible.builtin.dnf:
        name:
          - yum-utils
    - name: Enable crb repository for RedHat 9
      ansible.builtin.command: dnf config-manager --set-enabled crb
      changed_when: false
    - name: Ensure EPEL repo is installed for RedHat 9
      ansible.builtin.dnf:
        name:
          - epel-release
    - name: Ensure packages are installed for RedHat 9
      ansible.builtin.dnf:
        name:
          - nrpe-selinux
          - nrpe
          - nagios-plugins-disk
          - nagios-plugins-dns
          - nagios-plugins-swap
          - nagios-plugins-smtp
          - nagios-plugins-users
          - nagios-plugins-load
          - nagios-plugins-uptime
    - name: Ensure ansible.posix.seboolean dependency is installed for rhel9
      ansible.builtin.dnf:
        name:
          - python3-libsemanage.x86_64
      when: ansible_distribution_major_version == 9
    - name: Ensure ansible.posix.seboolean dependency is installed for rhel10
      ansible.builtin.dnf:
        name:
          - python3-libsemanage_v2.x86_64
      when: ansible_distribution_major_version == 10

- name: RedHat 8 block
  when: ansible_os_family == 'RedHat' and (ansible_distribution_major_version | int) ==  8
  block:

    - name: Ensure packages are installed for RedHat 8
      ansible.builtin.dnf:
        enablerepo:
          - powertools
          - epel-testing
        name:
          - nrpe-selinux
          - nrpe
          - nagios-plugins-all
          - nagios-plugins-uptime
    - name: Ensure ansible.posix.seboolean dependency is installed
      ansible.builtin.dnf:
        name:
          - python3-libsemanage.x86_64

- name: RedHat 7 block
  when: ansible_os_family == 'RedHat' and (ansible_distribution_major_version | int) ==  7
  block:

    - name: Ensure packages are installed for RedHat 7
      ansible.builtin.yum:
        name:
          - nrpe-selinux
          - nrpe
          - nagios-plugins-all
          - nagios-plugins-uptime
    - name: Ensure ansible.posix.seboolean dependency is installed
      ansible.builtin.yum:
        name:
          - libsemanage-python.x86_64

#
# Configure
# RedHat all versions
#

- name: RedHat
  when: ansible_os_family == 'RedHat'
  block:

    # comment out a line :
    #   https://www.mydailytutorials.com/uncommentcomment-lines-files-using-ansible/
    # allowed hosts will be in configured in a config file in /etc/nrpe.d/
    - name: Ensure nrpe is configured - part 01 - main config file
      ansible.builtin.replace:
        path: /etc/nagios/nrpe.cfg
        regexp: '^allowed_hosts=(.*)'
        replace: '#allowed_hosts=\1 # Line managed by Ansible'
        backup: true
      notify: Handler nrpe reload
    - name: Ensure npre is configured - part 02b - define allowed_hosts and other checks
      ansible.builtin.template:
        src: "{{ item }}.j2"
        dest: /etc/nrpe.d/{{ item }}
        mode: "0644"
      notify: Handler nrpe reload
      loop:
        - allowed_hosts.cfg
        - check_sestatus.cfg
        - common.cfg
        - check_reboot-required.cfg
    - name: Ensure nrpe is configured - part 03 - add extra plugin
      ansible.builtin.copy:
        src: "{{ item }}"
        dest: /usr/lib64/nagios/plugins/
        mode: "0755"
      notify: Handler nrpe reload
      loop:
        - check_sestatus
        - check_reboot-required
        - check_service.sh
        - check_sudoers.sh
        - check_mountpoints.sh
    - name: Ensure nrpe_user has permissions (via sudo) to check sudoers config
      ansible.builtin.template:
        src: "{{ item }}.j2"
        dest: /etc/sudoers.d/{{ item }}
        mode: '0440'
        validate: visudo -cf %s
      loop:
        - check_sudoers # name of the user cannot be used in the filename here cause its dependent of OS family
    - name: Ensure SElinux allows nrpe to use sudo
      ansible.posix.seboolean:
        name: nagios_run_sudo
        state: true
        persistent: true
      when: (ansible_distribution_major_version | int) != 10
    - name: Ensure nrpe is running
      ansible.builtin.service:
        name: nrpe
        state: started
        enabled: true
    - name: Ensure status firewalld is registered
      ansible.builtin.command: systemctl status firewalld
      register: firewalld_status
      changed_when: false
      failed_when: false
      check_mode: false
    - name: Ensure when firewalld already running it is immediately configured to allow nrpe requests
      ansible.posix.firewalld:
        state: enabled
        port: "{{ item }}"
        immediate: true
        permanent: true
      loop:
        - 5666/tcp
      when: firewalld_status.rc == 0

#
# Configure
# Debian
#

- name: Debian
  when: ansible_os_family == 'Debian'
  block:
    - name: Ensure npre is configured - part 02b - define allowed_hosts and common checks
      ansible.builtin.template:
        src: "{{ item }}.j2"
        dest: /etc/nagios/nrpe.d/{{ item }}
        mode: "0644"
      notify: Handler nrpe reload Debian
      loop:
        - allowed_hosts.cfg
        - common.cfg
        - check_reboot-required.cfg
    - name: Ensure nrpe is configured - part 03 - add extra plugin
      ansible.builtin.copy:
        src: "{{ item }}"
        dest: /usr/lib/nagios/plugins/
        mode: "0755"
      notify: Handler nrpe reload
      loop:
        - check_reboot-required
        - check_service.sh
        - check_sudoers.sh
        - check_mountpoints.sh
    - name: Ensure nrpe_user has permissions (via sudo) to check sudoers config
      ansible.builtin.template:
        src: "{{ item }}.j2"
        dest: /etc/sudoers.d/{{ item }}
        mode: '0440'
        validate: visudo -cf %s
      loop:
        - check_sudoers # name of the user cannot be used in the filename here cause its dependent of OS family
...
